<!DOCTYPE html>
<html>
<head>
    <title>Add Weather</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Add Weather</h1>
<form action="post" method="POST">
    <label>_id</label>
    <input name="id" /><br><br>
</form>
<a href="/">Home</a>
</body>
<html>