<!DOCTYPE html>
<html>
<head>
    <title>Add Weather</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Add Weather</h1>
<form action="put" method="POST">
    <label>_id</label>
    <input name="id" /><br><br>
    <label>City</label>
    <input name="city" /><br><br>
    <label>Date</label>
    <input name="date" type="date"/><br><br>
    <label>temperatureC</label>
    <input name="temperatureC" type="number"/><br><br>
    <label>temperatureF</label>
    <input name="temperatureF" type="number" min="0"/><br><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/">Home</a>
</body>
<html>